body {
  padding-bottom: 50px;
}
.app {
  text-align: center;
}
.logo {
  width: 37%;
}
.logo-title {
  position: fixed;
  top: 28px;
}
.tilt {
  transform: rotate(-17deg);
}
.top-margin {
  margin-top: 80px;
}
.col-sm-6 {
  margin: 10px 0;
}
.mb-25 {
  margin-bottom: .75rem!important;
}
.stat-select {
  font-size: 14px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #fff;
  border:transparent;
  backdrop-filter: blur(5px);
  z-index: 2000;
}
.img-navbar {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  height: calc(20px + 5vmin);
  width: calc(20px + 5vmin);
  object-fit: cover;
  margin: calc(10px + 1vmin);
}
.character-add {
  position: fixed;
  top: calc(16px + 1vmin);
  right: calc(60px + 2vmin);
  font-size: calc(8px + 1vmin);
}
.img-character {
  height: calc(50px + 5vmin);
  width: calc(50px + 5vmin);
  object-fit: contain;
}
.img-character-profile {
  height: calc(150px + 5vmin);
  width: calc(150px + 5vmin);
  object-fit: contain;
}
.img-character-profile-collection {
  margin: 20px 0;
  height: calc(60px + 6vmin);
  width: calc(60px + 6vmin);
  object-fit: contain;
}
.card-character {
  margin: 0 0 10px 0; 
}
.profile-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: calc(200px + 1vmin);
}
.button-container {
  margin: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}
.btn-profile {
  min-width: 100px;
}
.profile-photo {
  height: calc(150px + 10vmin);
  width: calc(150px + 10vmin);
  margin: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  pointer-events: all;
  cursor: pointer;
}
.wallpaper-photo {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  height: 250px;
  object-fit: cover;
}
#upload-photo,
#upload-wallpaper {
  opacity: 0;
  width: 80%;
}
.main-photo {
  height: calc(100px + 10vmin);
  pointer-events: none;
  margin: 10px;
}
form {
  margin: 0 auto;
  text-align: center;
}
.profile-form {
  margin: 0 auto;
  width: calc(100% + 10vmin);
  max-width: 350px;
}
.login-username {
  text-transform: lowercase;
  margin-bottom: 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus  {
  outline: 0 none;
  border: 1px solid #007bff;
  color: #000;
  background-color: transparent;
}
.character-form-control {
  margin-top: 10px;
  padding: 7px;
  height: 150px;
  resize: none;
  width: 100%;
  outline: 0 none;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #000;
}
.form-container {
  margin: 100px 0 0 0;
  padding-top: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #000;
}
.floating-label { 
  position:relative; 
  margin-bottom:.75rem; 
}
.floating-input {
  font-size:14px;
  display:block;
}
label {
  color: transparent;
  padding: 0 5px;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  right:5px;
  bottom: 0;
  transition:0.2s ease-in-out all; 
  -moz-transition:0.2s ease-in-out all; 
  -webkit-transition:0.2s ease-in-out all;
}
.floating-input:focus ~ label, 
.floating-input:not(:placeholder-shown) ~ label {
  top:-7px;
  font-size:12px;
  font-weight: bold;
  color:#007bff;
  background-color: #fff!important;
  height:20px;
  z-index: 1000;
  transition:0.2s ease-in-out all; 
  -moz-transition:0.2s ease-in-out all; 
  -webkit-transition:0.2s ease-in-out all;
}

.floating-textarea:focus ~ label, 
.floating-textarea:not(:placeholder-shown) ~ label {
  top:3px;
  font-size:12px;
  font-weight: bold;
  color:#007bff;
  background-color: #fff!important;
  height: 20px;
  z-index: 1000;
  transition:0.2s ease-in-out all; 
  -moz-transition:0.2s ease-in-out all; 
  -webkit-transition:0.2s ease-in-out all;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-screen,
.register-screen {
  padding-top: 100px;
}
.link,
.link:hover,
.link:focus,
.link:visited,
.link:active {
  color: #007bff;
  text-decoration: none;
}
.font-regular {
  font-size: 16px;
}
.font-small {
  font-size: 12px;
}
#login-error,
#validation-error {
  display: none;
  text-align: center;
  font-size: 12px;
  color: #c0c;
  margin: 5% auto 15px auto;
  width: 200px;
  max-width: 200px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .3);
  z-index: 5000;
}
.loader {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background:transparent;
    border:transparent;
    backdrop-filter: blur(5px);
    z-index: 2000;
  }
  .profile-container {
    height: calc(200px + 6vmin);
  }
  .form-container {
    margin: 100px 20% 0 20%;
  }
  .profile-form {
    margin: 0 0;
    width: calc(100% + 10vmin);
    max-width: 450px;
  }
  .img-navbar {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    height: calc(10px + 4vmin);
    width: calc(10px + 4vmin);
    object-fit: cover;
    margin: calc(10px + 1vmin);
  }
  .character-add {
    position: fixed;
    top: calc(10px + 1vmin);
    right: calc(60px + 2vmin);
    font-size: calc(8px + 1vmin);
  }
  .img-character-profile-collection {
    margin: 20px 0;
    height: calc(50px + 4vmin);
    width: calc(50px + 4vmin);
    object-fit: contain;
  }
  .col-sm-6 {
    margin: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .main-photo {
    animation: photo-spin infinite 10s linear;
  }
}

@keyframes photo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}